.rightColumn {
  width: 350px;
  flex-shrink: 0;
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
}

.widget {
  background-color: #f9fafb;
  border-radius: 10px;
  padding: 12px 20px;
  margin-top: 20px;
  border: gray 1px solid;
}