.sidebar {
  width: 65px;
  height: 100%;
  background-color: #ffffff;
  padding-top: 20px;
  transition: width 0.3s ease;
  overflow: hidden;
  box-sizing: border-box;
}

.navContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar:hover {
  width: 230px;
}

.logo {
  width: 25px; 
  height: 25px;
  flex-shrink: 0;
}

.menu {
  display: flex; 
  align-items: center;
  text-decoration: none;
  margin-bottom: 15px;
  white-space: nowrap; 
  color: black;
  padding: 0.5rem 1rem; 
}

.navLink {
  display: flex; 
  height: 50px;
  align-items: center;
  margin-bottom: 15px;
  text-decoration: none;
  white-space: nowrap; 
  color: black;
  padding: 0.5rem 1rem; 
}

.navLinkOut {
  display: flex; 
  height: 50px;
  align-items: center;
  margin-top: auto;
  margin-bottom: 15px;
  text-decoration: none;
  white-space: nowrap; 
  color: black;
  padding: 0.5rem 1rem; 
}

.navLinkOut:hover {
  background-color: #e0f2fe;
  border-radius: 8px;
}

.navLinkOut:hover .linkText {
  color: #4b74eb;
}

.navLinkOut:hover svg {
  fill: #4b74eb;
}

.navLink:hover {
  background-color: #e0f2fe;
  border-radius: 8px;
}

.linkText {
  font-size: 16px;
  font-weight: 600;
  color: black;
  margin-left: 20px; 
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.navLink:hover .linkText {
  color: #4b74eb;
}

.navLink:hover svg {
  fill: #4b74eb;
}

.sidebar:hover .linkText {
  opacity: 1;
  transition-delay: 0.1s; 
  margin-left: 20px;
}

.active {
  background-color: #e0f2fe;
  border-radius: 8px;
}

.active .linkText {
  color: #4b74eb;
  font-weight: 600;
}

.active svg { fill: #4b74eb; }