/* Tạo một lớp bọc toàn bộ ứng dụng */
.appWrapper {
  display: flex;
  flex-direction: row; /* Xếp các con (Sidebar và Content) theo hàng ngang */
  height: 100vh; /* Đảm bảo app cao hết màn hình */
}

/* Phần nội dung chính */
.mainContent {
  background-color: beige;
  flex-grow: 1; /* Chiếm hết phần không gian còn lại */
  height: 100vh; /* Cao hết màn hình */
  overflow-y: auto; /* Cho phép cuộn nếu nội dung dài */
  padding: 20px;
}