.rootLayout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.appWrapper {
  display: flex;
  flex-direction: row; /* Xếp các components theo hàng ngang */
  height: 100vh; /* Đảm bảo app cao hết màn hình */
  overflow: hidden;
}

/* Phần nội dung chính */
.mainContent {
  background-color: #f9fafb;
  flex-grow: 1; /* Chiếm hết phần không gian còn lại */
  height: 100vh; /* Cao hết màn hình */
  overflow-y: auto; /* Cho phép cuộn nếu nội dung dài */
  padding: 20px;
  border-radius: 15px;
  border: 1px solid gray;
}